<h2>New Profile</h2>

<form action="/create_profile">
  <input type="text" name ="name" placeholder="Name">
  <input type="text" name ="memberstatus" placeholder="Since 2014">
  <input type="text" name ="picture" placeholder="image url"> 
  <input type="text" name ="bio" placeholder="Bio">
  <input type="text" name ="location" placeholder="AMERICA">
  <input type="text" name ="progressbar" placeholder="Completion Bar">


  <input type="submit"> 
         </form>